<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="assets/donald_trump.jpg" alt="Donald Trumph" class="mt-2 rounded-circle">
            <h1>Donald Trumph</h1>
        </div>
    </div>
</div>